@model IEnumerable<NetCandyStore.Models.ProductCategory>

<!DOCTYPE html>

<p>
    <h1>Search</h1>
    @using (Html.BeginForm("SearchByKeyword", "Search", FormMethod.Post))
    {
        <b>Search for: </b> @Html.TextBox("searchTerm")
        <input type="submit" value="Search"/>
    }
</p>
    <p>
        <h1>Choose a Category</h1>
    </p>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.displayName, "SearchByCategory", "Search", new { categoryId = item.Id }, null)
                </td>
            </tr>
        }

    </table>
