@model IEnumerable<NetCandyStore.Models.ProductCategory>

<!DOCTYPE html>

    <p>
        <h1>Search for keyword</h1>
        Keyword: <input type="text" id="txtKeyword" />
        @Html.ActionLink("Searcn","SearchByKeyword","Search")
    </p>
    <p>
        <h1>Choose a Category</h1>
    </p>
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.displayName, "SearchByCategory", "Search", new { categoryId = item.Id }, null)
                </td>
            </tr>
        }

    </table>
