@model IEnumerable<NetCandyStore.Models.GetShoppingCartItems_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Shopping Cart Items</h2>

<table class="table">
    <tr>
        <th>
            Item
        </th>
        <th>
            Description
        </th>
        <th>
            Total ($$)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.displayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineItemTotal)
            </td>
        </tr>
    }

</table>